<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main class="container">
      <p>
        This app says hello, and if you tell it your name it sends a personalized message.<br>
        To begin go to the path /hello/YourName.<br>
        If you want to use spaces in your name you need to use %20 instead of the whitespace. For example to write John Doe you need to put John%20Doe.
      </p>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
