<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main class="container">
      <h3>Hello <%= user.username %></h3>
      <h5>email: <%= user.email %></h5>
      <button class="btn btn-danger" href="/logout" onClick="document.location.href='/logout'">Logout</button>
      <form action="/delete_current_user" method="post">
        <button class="btn btn-danger btn-sm" type="submit">Delete Account</button>
      </form>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
