<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    
    <main class="p-2">
      <form class="metric-value-form" action="/metrics" method="post">
        <div class="form-group mb-0">
          <label class="mb-0" for="form-metric-value">Metric Value:</label>
          <input id="form-metric-value" type="text" name="metric_value" />
        </div>
        <button class="btn btn-primary" type="submit">Add Metric</button>
      </form>
      
      <canvas id="myChart"></canvas>
    </main>
    
    <footer>
      <% include ../partials/footer %>
    </footer>
    
    <script src="../javascripts/index.js" charset="utf-8"></script>
  </body>
</html>
