<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <main class="container">
      <button type="button" class="btn btn-primary">Button</button>
    </main>
  </body>
</html>
