<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <main class="authentication-form text-center">
      <div class="form-container" id="form">
        <h2>Login</h2>
        <p>Enter your credentials to enter the platform.</p>
        <form class="/login" method="post">
          <div class="form-group">
            <label class="sr-only" for="form-username">Username</label>
            <input class="form-control" id="form-username" type="text" name="username" placeholder="Username" />
            <label class="sr-only" for="form-password">Password</label>
            <input class="form-control" id="form-password" type="password" name="password" placeholder="Password" />
          </div>
          <button class="btn btn-primary" type="submit" value="Submit">Enter</button>
        </form>
        <button class="btn btn-link" type="submit" href="/signup" onClick="document.location.href='/signup'">I don't have an account</button>
      </div>
    </main>
  </body>
</html>
